<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sci-fi Movies</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (authState?.User.Identity?.IsAuthenticated == true && authState.User.IsInRole("Admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usermanagement">
                    <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Movies
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-2">
            <a class="nav-link text-info" href="/classic/movies">
                <span class="bi bi-layout-sidebar" aria-hidden="true"></span> Classic UI
            </a>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    private AuthenticationState? authState;

    protected override async Task OnInitializedAsync()
    {
        if (AuthStateTask is not null)
        {
            authState = await AuthStateTask;
        }
    }
}
